* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialised;
}

body {
  display: grid;
  place-items: center;
  background: rgb(22, 22, 22) no-repeat;
  background: linear-gradient(
      180deg,
      rgba(22, 22, 22, 1) 0%,
      rgba(35, 35, 35, 1) 50%,
      rgba(45, 45, 45, 1) 100%
    )
    no-repeat;
}

main {
  background: none;
  width: 450px;
  height: 600px;
}

.container {
  background: url(images/retangle.svg);
  width: 358px;
  height: 540px;
  text-align: center;
}

.container1 {
  background: url(images/mask.svg);
}

.container2 {
  background: url(images/quebra.svg);
}

.container3 {
  background: url(images/faixa.svg);
}

h1 {
  color: white;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

a {
  color: grey;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#presentationText {
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
